@model TCS.EF.Entidades.Folders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Folders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Root)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Root)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolderIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolderIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepthLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepthLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FolderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
