@model DEVTOOLS.EF.Entidades.Column

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Column</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnPrimaryKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnPrimaryKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnForeignKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnForeignKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entity.EntityName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ColumnId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
