@model DEVTOOLS.EF.Entidades.Column

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Column</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnPrimaryKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnPrimaryKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnForeignKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnForeignKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entity.EntityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ColumnId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
