@model IEnumerable<DEVTOOLS.EF.Entidades.Column>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColumnIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColumnPrimaryKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColumnForeignKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColumnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColumnDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColumnType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnPrimaryKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnForeignKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entity.EntityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColumnId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ColumnId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ColumnId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
